@{
    Layout = null;
    <link rel="stylesheet" href="~/assets/css/login.css" />
}
@model LoginViewModel
<div class="main">
    <div class="login">
        <form method="post">
            <label for="chk" aria-hidden="true">Login</label>
            <input asp-for="UserName" placeholder="UserName" required="">
            <input asp-for="Password" placeholder="Password" required="">

            <div style="display: flex; align-items: center; gap: 8px; margin-left: 10px;">
                <input asp-for="RememberMe" type="checkbox" id="rememberMe" style="width: 16px; height: 16px; margin: 0;" />
                <label for="rememberMe" style="font-size: 14px; margin: 0;">Remember Me</label>
            </div>

            <div asp-validation-summary="ModelOnly" style="margin-left: 20px;"></div>
            <button type="submit">Login</button>
        </form>
    </div>
</div>

           

          