@model Restaurant.Areas.Admin.Data.MenuItemCreateViewModel


<h2>Create Menu Item</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <!-- Enctype resim upload için -->
    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select">
            <option value="">-- Select Category --</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label>Image</label>
        <input type="file" name="ImageFile" class="form-control" />
      
    </div>

    <div class="form-check mb-3">
        <input asp-for="IsAvailable" class="form-check-input" />
        <label asp-for="IsAvailable" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}