@model Restaurant.DataContext.Entities.Category

<div class="container mt-4">
    <h2>Category Details</h2>

    <div>
        <h4>Name:</h4>
        <p>@Model.Name</p>
    </div>

    <a asp-action="Index" class="btn btn-secondary mt-3">Back to List</a>
</div>